{% extends "base.html" %} {% block title %}Riwayat Transaksi{% endblock %} {% block content %}
<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 fw-bold fs-3 judul">Riwayat Transaksi</div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card shadow">
          <div class="card-header">
            <span><i class="me-2 bi bi-clock-history"></i></span>
            <span class="fw-bold">Riwayat Transaksi</span>
          </div>
          <div class="card-body">
            <div class="table-responsive table-height">
              <table class="table table-borderless">
                <thead class="table-dark">
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Jumlah Pembelian</th>
                    <th scope="col">Total Harga Pembelian</th>
                    <th scope="col">Tanggal Pembelian</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in user.transaksiuser %}
                  <tr class="text-center">
                    <td scope="row" class="fw-bold">{{ loop.index }}</td>
                    <td>{{row.nama_transaksi}}</td>
                    <td>{{row.jumlah}}</td>
                    <td>Rp.{{row.harga_transaksi}}</td>
                    <td>{{row.date_transaksi.strftime("%d %B %Y %H:%M")}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
