{% extends "base.html" %} {% block title %}Transaksi{% endblock %} {% block content %}
<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div id="judul" class="col-md-12 fw-bold fs-3 judul">Transaksi</div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card shadow">
          <div class="card-header">
            <span><i class="me-2 bi bi-table"></i></span>
            <span class="fw-bold">Data Barang</span>
          </div>
          <div class="card-body">
            <div class="table-responsive table-height-transaksi">
              <table class="table table-borderless">
                <thead class="table-dark">
                  <tr class="text-center">
                    <th scope="col">#</th>
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Tanggal Input</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  {% for row in user.datauser %}
                  <tr class="text-center">
                    <td scope="row" class="fw-bold">{{ loop.index }}</td>
                    <td>{{row.nama}}</td>
                    <td>Rp.{{row.harga}}</td>
                    <td>{{row.stock}}</td>
                    <td>{{row.date.strftime("%d %B %Y %H:%M")}}</td>
                    <td>
                      <button id="btn{{row.id}}" type="button" class="btn btn-success btn-sm float-end" data-bs-toggle="modal" data-bs-target="#inputtransaksi{{row.id}}">
                        <i class="bi bi-plus"></i>
                      </button>
                    </td>
                  </tr>
                  <!-- Modal Transaksi-->
                  <div class="modal fade" id="inputtransaksi{{row.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="inputdataLabel">Transaksi</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="container">
                            <div class="row">
                              <label for="nama" class="fw-bold form-label">Nama Barang : {{row.nama}}</label>
                              <div class="input-group">
                                <input type="hidden" id="id{{row.id}}" name="id" value="{{row.id}}" />
                                <input type="hidden" id="nama{{row.id}}" name="nama" value="{{row.nama}}" />
                              </div>
                            </div>
                            <div class="row">
                              <label for="harga" class="fw-bold form-label">Harga : Rp.{{row.harga}}</label>
                              <div class="input-group">
                                <input type="hidden" id="harga{{row.id}}" name="harga" value="{{row.harga}}" />
                              </div>
                            </div>
                            <br />
                            <div class="row">
                              <label for="jumlah" class="form-label">Jumlah</label>
                              <div class="input-group">
                                <input type="number" class="form-control" id="jumlah{{row.id}}" name="jumlah{{row.id}}" placeholder="Masukan Jumlah Barang" />
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="submit" onclick="ambilInput('{{row.nama}}', {{row.harga}}, 'jumlah{{row.id}}', {{row.id}}, {{row.stock}})" class="btn btn-primary" data-bs-dismiss="modal">Tambahkan</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px">
      <div class="col-12">
        <div class="card shadow">
          <div class="card-header">
            <span><i class="me-2 bi bi-cart-fill"></i></span>
            <span class="fw-bold">Daftar Belanjaan</span>
          </div>
          <div class="card-body">
            <div class="table-responsive table-height-transaksi">
              <table class="table table-borderless">
                <thead class="table-dark">
                  <tr class="text-center">
                    <th scope="col">Nama Barang</th>
                    <th scope="col">Harga</th>
                    <th scope="col">Jumlah</th>
                  </tr>
                </thead>
                <tbody class="text-center" id="tabletransaksi">
                  <tr></tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer">
            <span class="fw-bold fs-4" id="totalharga">Rp. 0</span>
            <div class="btn-group float-end" role="group">
              <button type="button" onclick="location.reload();" class="btn btn-danger btn-jarak"><i class="bi bi-trash-fill"></i></button>
              <button type="button" onclick="updateTransaksi()" class="btn btn-dark"><i class="bi bi-cart-check-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}
